@import "theme/standard.scss";
@include mat-core();
@include angular-material-theme($my-theme);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333333;
}
