<!--The content below is only a placeholder and can be replaced.-->
<div class="appBackground" style="text-align:center; height: 100%; background: #fff; display: flex; flex-direction: column; align-items: center; place-items: center;">
  <h1>
    Welcome to My product tour test!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/TwitterLogo.png">
  <div tourAnchor="step1"></div>
  <button tourAnchor="step2" mat-raised-button color="primary" style="margin-top: 16px;" routerLink="home">Go to home
    page</button>
  <router-outlet></router-outlet>
</div>
<tour-step-template>
  <ng-template let-step="step">
    <mat-card (click)="$event.stopPropagation()">
      <mat-card-title>
        {{step?.title}}
      </mat-card-title>
      <mat-card-content>
        {{step?.content}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button [disabled]="!tourService.hasPrev(step)" (click)="tourService.prev()"><i class="fa fa-chevron-left"></i></button>
        <button mat-icon-button [disabled]="!tourService.hasNext(step)" (click)="tourService.next()"><i class="fa fa-chevron-right"></i></button>
        <button mat-raised-button color="primary" (click)="tourService.end()">End</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</tour-step-template>
